.home-container {
    text-align: center;
    margin: 20px;
}

.avatar-image {
    max-width: 20%; /* Set the maximum width occupied on page */
    height: auto; /* Maintain the aspect ratio */
    margin: 20px;
}

.name-title {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
}

h1 {
    font-size: 32px;
    color: #333;
}

p {
    font-size: 18px;
    color: #777;
}
  
